<div class="modal" data-modal>
  <div class="modal__content">
    <button class="modal__close-btn" type="button" data-modal-close></button>
    <div class="modal-product"></div>
    <div class="product-counter">
      <button class="decrease-btn">-</button>
      <input type="number" class="product-quantity" value="0" readonly />
      <button class="increase-btn">+</button>
    </div>
    <div class="modal-product__actions">
      <button
        class="modal-product__btn modal-product__btn--wishlist"
        type="button"
      >
        Add to Wishlist
      </button>
      <button class="modal-product__btn modal-product__btn--cart" type="button">
        Add to Cart
      </button>
    </div>
  </div>
</div>
